{
  "presets": [
    "es2015",
    "stage-0",
    "react",
    "flow"
  ],
  "plugins": [
    "transform-runtime",
    ["transform-class-properties", { "spec": true }],
    "react-hot-loader/babel",
    "lodash"    
  ]
}