.bg-white-blue { background-color: #F4F4F4; }
.bg-heading-gray { background-color: #747577; }
.bg-dark-gray { background-color: #333644; }
.bg-light-purple { background-color: #A48CD2; }
.bg-darkest-gray { background-color: #1E202C; }
.bg-eggshell { background-color: #fafafa; }
.bg-white { background-color: #fff; }
.bg-light-blue { background-color: #F0FBFF; }
.bg-intent-success { background-color: #0f9960; }